@media screen and (max-width: 768px) {
    :root {
        --color-background-initial: #F8F5E9;
        --color-section-stats: #9DC08B;
        --color-icons: #DF6D14;
        --color-box: #F0E8DF;
    }

    .sect-yoga {
        width: 100vw;
        height: 100vh;
    }
    section {
        display: grid;
        grid-template-columns: 1fr;
    }
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        height: 120px;
        width: 100vw;
    }
    .nav-items {
        display: none;
    }
    .nav-items li {
        list-style: none;
        padding: 10px 0px;
    }
    .nav-items ul {
        display: block;
        list-style: none;
        padding: 0px 10px;
    }
    .menu-bg-header,
    #menu {
        position: absolute;
        top: 5%;
        right: 4%;
    }
    .menu-bg-header {
        background-color: var(--color-section-stats);
        z-index: 1;
        width: 0;
        height: 0;
        margin: 0px 0px 20px 20px;
        border-radius: 10%;
        transition: 0.4s ease;
    }
    #menu {
        z-index: 2;
    }
    #menu-icon {
        font-size: 22pt;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        display: block;
    }
    .change {
        display: block;
    }
    .change-bg-menu {
        width: 150px;
        height: 250px;
    }
    #sect-initial-yoga {
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .img-sect-start article {
        padding: 30px;
        width: 88svw;
    }
    article p {
        margin-top: 18%;
    }
    .img-sect-start img {
        display: none;
    }
    .btn-book {
        width: 170px;
        height: 50px;
        text-align: left;
        padding-left: 20px;
    }

    .card01{
        grid-area: card01;
    }
    .card02{
        grid-area: card02;
    }
    .card03{
        grid-area: card03;
    }
    .card04{
        grid-area: card04;
    }

    #sect-infos-yoga {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'card01 card03'
            'img img'
            'card02 card04';
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }

    #sect-infos-yoga img{
        width: 100%;
        background-attachment: fixed;
        grid-area: img;
    }

    .stats-card {
        background-color: #ffffff;
        width: 170px;
        height: 170px;
        border-radius: 10px;
        border: 1px solid #0000004f;
    }
    .stats-card p {
        color: #3d3d3d;
        text-align: left;
    }
    .num-stats {
        font-size: 32pt;
    }

    #classes-sect{
        margin-top: 10px;
    }
    .classes-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .img-pose{
        display: block;
    }
    .card-style h3,
    .card-style li,
    .card-style ul{
        visibility: visible;
        z-index: 1;
    }
    #card-ashtanga, #card-vinyasa, #card-kundalini, #card-hatha{
        background-image: none;
        background-position: none;
    }
    .card-style{
        width: 340px;
        height: auto;
        padding: 18px;
    }
    .card-style h3{
        font-size: 30pt;
    }
    .card-style img{
        width: 100%;
        height: 300px;
    }
    .card-style:hover::before{
        backdrop-filter: none;
    }

    /*Isolando seções temporiamente*/
    #sect-about,
    .reviewSect,
    #sect-benefits {
        display: none;
    }
}