@media screen and (max-width: 768px) {
    :root {
        --color-background-initial: #F8F5E9;
        --color-section-stats: #9DC08B;
        --color-icons: #DF6D14;
        --color-box: #F0E8DF;
    }

    .sect-yoga {
        width: 100vw;
        height: 100svh;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        height: 100px;
        width: 100vw;
    }

    nav ul {
        display: none;
    }

    #sect-initial-yoga {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .img-sect-start article {
        padding: 30px;
        background-color: var(--color-box);
        width: 88svw;
        height: 70svh;
        border-radius: 3px;
    }

    article p {
        margin-top: 14%;
    }

    .img-sect-start img {
        display: none;
    }

    .btn-book {
        width: 170px;
        height: 50px;
        text-align: left;
        padding-left: 20px;
    }

    #sect-infos-yoga img {
        display: none;
    }

    .text-infos>p {
        display: none;
    }

    .stats-yoga-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80svw;
    }

    .stats-card {
        background-color: #fff;
        width: 200px;
        height: 145px;
        padding: 16px;
        border-radius: 11px;
        margin-bottom: 20px;
        border: 1px solid #0000004f;
    }

    .stats-card p {
        color: #3d3d3d;
        font-size: 17px;
    }

    .num-stats {
        font-size: 35pt;
    }

    /*Isolando seções temporiamente*/
    #classes-sect, #sect-about, .reviewSect {
        display: none;
    }
}