@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background-initial: #F8F5E9;
    --color-section-stats: #9DC08B;
    --color-icons: #D19C56;
    --color-box: #F0E8DF;
    --color-secondary: #306838;
    --color-elements: #874C62; 
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 90px;
    grid-area: cabeçalho;
    background-color: var(--color-background-initial);
}

h1, li, p, h2, h3, .btn-book{
    font-family: "DM Sans", arial;
}

/*BODY*/
html{
    font-family: Arial ,sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    'cabeçalho' 
    'sect-initial-yoga'
    'sect-infos-yoga';
    overflow-x: hidden;
}
.nav-items > ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
}
#menu-icon{
    display: none;
}



/*SECTIONS*/
.sect-yoga{
    width: 100%;
    height: 100vh;
}
.nav-items a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    cursor: pointer;
}
.img-sect-start{
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}
#sect-initial-yoga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: sect-initial-yoga;
    background-color: var(--color-background-initial);
}
.img-sect-start article{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 8%;
    padding: 5px;
    color: #000;
}
.img-sect-start article p{
    text-align: left;
}
.btn-book{
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--color-elements);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    width: 175px;
    height: 45px;
    margin-top: 5%;
    padding: 5px;
    cursor: pointer;
}
.img-sect-start h1{
    font-size: 36pt;
    margin-bottom: 5%;
    color: #000;
}
.img-sect-start img{
    width: 850px;
    height: 500px;
    aspect-ratio: 1.3;
}

#sect-infos-yoga p{
    margin-bottom: 20px;
}
#sect-infos-yoga {
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    padding: 30px;
}
#sect-infos-yoga img{
    width: 560px;
    height: auto;
    object-fit: cover;
    border: #3d3d3d 1px solid;
    padding: 3px;
}
.media-content-stats{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.stats-card{
    background-color: var(--color-box);
    width: 260px;
    height: 170px;
    padding: 14px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #0000004f;
}
.stats-card p{
    margin-top: 6px;
    color: #3d3d3dee;
    font-size: 15px;
}
.num-stats{
    font-size: 38pt;
    text-align: center;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}
.stats-card:hover{
    color: var(--color-icons);
    scale: 102%;
}
.stats-card p:hover{
    font-weight: bold;
}
.classes-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.card-style{
    background-color: #ffffff;
    width: 295px;
    height: 500px;
    padding: 6px;
    border: 1px solid #0000004f;
    position: relative;
}
.card-style::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.card-style:hover::before{
    backdrop-filter: blur(3px) brightness(0.7) sepia(15%);
}
#card-hatha{
    background-image: url(/assets/pexels-poses-yoga01.jpg);
    background-position: center;
    background-size: cover;
}
#card-vinyasa{
    background-image: url(/assets/pexels-poses-yoga02.jpg);
    background-position: center;
    background-size: cover;
}
#card-kundalini{
    background-image: url(/assets/pexels-poses-yoga03.jpg);
    background-size: cover;
}
#card-ashtanga{
    background-image: url(/assets/poses-yoga04.jpg);
    background-size: cover;
    background-position: top left;
}

#card-ashtanga, #card-vinyasa, #card-kundalini, #card-hatha{
    position: relative;
}
.img-pose{
    display: none;
}
.card-style h3,
.card-style li,
.card-style ul{
    visibility: hidden;
    position: relative;
    z-index: 1;
}

.card-style:hover li,
.card-style:hover ul,
.card-style:hover h3{
    visibility: visible;
    color: #ffffff;
}
.card-style h3{
    text-align: center;
    padding: 6px;
    margin-top: 11%;
    font-size: 2.4em;
}
.card-style ul{
    padding: 20px;
    line-height: 1.5em;
}
.card-style li{
    font-size: 18px;
    margin-bottom: 10px;
    color: #3d3d3d;
}
li::marker{
    color: var(--color-icons);
}
#classes-sect h1{
    font-size: 31pt;
    margin-bottom: 5px;
    margin-top: 20px;
}
#classes-sect p {
    color: #575757;
}
#classes-sect h1, p {
    text-align: center;
}
#sect-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.banner-container > img{
    width: 440px;
    border: 2px solid var(--color-section-stats);
    padding: 4px;
}

.text-about{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5px;
}
.text-about p{
    width: 80%;
    line-height: 1.6em;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    color: #494848;
}
.text-about h2{
    margin-bottom: 5%;
    font-size: 33pt;
    padding: 5px;
}

.review-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    margin: 0px 0px 36px 36px;
    align-items: baseline;
    align-self: flex-start;
}
.review-header > p{
    color: var(--color-icons);
}
.review-header h2{
    font-size: 28pt;
}
.reviewSect{
    width: 100vw;
    height: 85vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.textReview{
    font-size: 17px;
    text-align: left;
}
.swiper{
    width: 85%;
    height: 270px;
}
.swiper-slide{
    background-color: rgb(255, 255, 255);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #3d3d3dd8;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
.swiper-slide img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}
.person{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-items: flex-end;
}
.person p{
    color: #2c2c2c;
}
.person h3{
    color: #000;
}
#sect-benefits{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 72vh;
    align-items: center;
    justify-items: center;
    margin-top: 2%;
}
.sect-img-benefit > img{
    width: 550px;
    height: 350px;
    padding: 10px;
    margin-top: 12px;
    border-radius: 12px;
}
.sect-img-benefit h2{
    text-align: left;
    margin-top: 3%;
    padding-left: 10px;
    font-size: 20pt;
}
.textBenefits{
    line-height: 2.5em;
    font-size: 17px;
}

#sect-prices{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 20%;
}
#sect-prices h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 32px;
    font-size: 32pt;
}
#prices-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.card-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 370px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #00000013;
    padding-bottom: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.title{
    width: 100%;
    padding: 13px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.6em;
    text-align: center;
}
#basic .title{
    background-color: #2C6E49;
    color: #ffff;
}
#plan-mantra .title{
    background-color: #3F514B;
    color: #fff;
}
#plan-lotus .title{
    background-color: #51344D;
    color: #fff;
}
.description{
    padding: 20px 30px;
    line-height: 2em;
}
.description ul{
    color: #646464;
    font-size: 15px;
}
.amount-plan{
    font-size: 3em;
}
.cost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13px;
    width: 100%;
    margin-top: 7%;
}
.detail{
    color: #494848;
    margin: auto 20px auto 8px;
    font-size: 13px;
}
.description ul{
    list-style: none;
}
.description li::before {
    content: "";
    background-image:url(/assets/check.png);
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    opacity: 0.6;
}
.btn-plans{
    width: 300px;
    height: 37px;
    background-color: var(--color-elements);
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 10%;
}