*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background-initial: #2C1320;
    --palette-color2: #D3C4E3;
    --color-icons: #F7A278;
}

.menu-item > li{
    list-style: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 85px;
    grid-area: cabeçalho;
}
html{
    font-family: Arial ,sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    'cabeçalho' 
    'sect-initial-yoga'
    'sect-infos-yoga'
    'features-yoga'
    'box-types';
}
nav ul{
    display: flex;
    padding: 10px;
    list-style: none;
    gap: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
.sect-yoga{
    width: 100%;
    height: 100vh;
}
.nav-items li > a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}
.logo-yoga img{
    width: 70px;
    padding: 5px;
    border-radius: 15%;
    margin-left: 10%;
}
.img-sect-start{
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}
#sect-initial-yoga{
    display: flex;
    flex-direction: column;
    grid-area: sect-initial-yoga;
    background-color: #fff;
}
.img-sect-start article{
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 8%;
    padding: 5px;
    font-family: 'Lucida Sans', sans-serif;
    color: #000000;
}
.btn-book{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #D3C4E3;
    color: #000000ec;
    border: none;
    border-radius: 7px;
    width: 175px;
    height: 45px;
    margin-top: 8%;
    padding: 5px;
    cursor: pointer;
}
.img-sect-start h1{
    font-size: 34pt;
    margin-bottom: 5%;
}
.img-sect-start img{
    width: 60%;
    height: 550px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
#sect-infos-yoga{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#fff;
    gap: 15px;
    grid-area: sect-infos-yoga;
}

#sect-infos-yoga article{
    font-family: 'Lucida Sans',sans-serif;
    font-size: 13pt;
    padding: 11px;
    margin-top: 3%;
    grid-column: span 1;
}
#sect-infos-yoga p{
    margin-bottom: 20px;
}
#sect-infos-yoga img {
    width: 56vw;
    height: 100%;
}
#features-yoga{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: 95vh;
}

#box-types-yoga{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f7f7f7;
}
#box-title{
    margin-left: 18px;
    margin-top: 28px;
}
#box-title h1{
    font-size: 30pt;
}
.classes-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.card-style{
    background-color: #ffffff;
    width: 300px;
    height: 500px;
    aspect-ratio: 1;
    margin: auto;
    padding: 10px;
}
.card-style img{
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
}
.card-style p{
    margin: 0;
    font-size: 0.9rem;
    margin-top: 13px;
}