*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-item > li{
    list-style: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    background-color: #304634;
    padding: 14px;
    height: 70px;
    grid-area: cabeçalho;
}
body{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'cabeçalho' 
    'sect-initial-yoga';
}
nav ul{
    display: flex;
    padding: 10px;
    list-style: none;
    gap: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
.sect-yoga{
    width: 100%;
}
.nav-items li > a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.logo-yoga img{
    width: 70px;
    padding: 5px;
    border-radius: 15%;
    margin-left: 10%;
    background-color: #FFD1BA;
}
.img-sect-start{
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}
#sect-initial-yoga{
    display: flex;
    flex-direction: column;
    background-color: #304634;
    grid-area: sect-initial-yoga;
}
.img-sect-start article{
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 8%;
    padding: 5px;
    font-family: 'Lucida Sans', sans-serif;
    color: #CED0CE;
}
.btn-book{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFD1BA;
    color: #000000ec;
    border: none;
    border-radius: 7px;
    width: 175px;
    height: 42px;
    margin-top: 8%;
    padding: 5px;
    cursor: pointer;
}
.img-sect-start h1{
    font-size: 34pt;
    margin-bottom: 5%;
    color: #fff;
}
.img-sect-start img{
    width: 560px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#sect-infos-yoga{
    display: flex;
    background-color:#fff;
}

#sect-infos-yoga article{
    font-family: 'Lucida Sans',sans-serif;
    font-size: 13pt;
    padding: 20px;
    margin-top: 2%;
}
#sect-infos-yoga p{
    margin-bottom: 20px;
}
#sect-infos-yoga img {
    width: 750px;
    height: 100%;
}
.box-yoga{
    background-color: #CEE0DC;
    border-radius: 4px;
    padding: 18px;
    width: 510px;
}
#features-yoga div img{
    width: 94px;
    height: 94px;
}
#features-yoga{
    display: flex;
    align-items: center;
    height: 320px;
    background-color: rgb(241, 229, 229);
}
#features-yoga > div{
    justify-items: center;
}
#features-yoga p{
    width: 100%;
}